{
  "semi": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "singleQuote": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}